<footer class="footer">
    <div class="info-container">
        <div class="copyright-info info-item">
            &copy;
            <% if (theme.footer.hasOwnProperty('since') && theme.footer.since) { %>
              <span><%= theme.footer.since %></span>
              -
            <% } %>
            <%= date(new Date(), 'YYYY') %>&nbsp;<i class="fas fa-heart icon-animate"></i>&nbsp;<a href="https://comunion.org/"><%= theme.base_info.author || config.author %></a>
        </div>
        <% if (theme.website_count.busuanzi_count.enable === true) { %>
            <script async <%= theme.pjax.enable === true ? 'data-pjax' : '' %> src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
            <div class="website-count info-item">
                <% if (theme.website_count.busuanzi_count.site_uv) { %>
                    <span id="busuanzi_container_site_uv">
                        <%- __('site_uv') %>&nbsp;<span id="busuanzi_value_site_uv"></span>&ensp;
                    </span>
                <% } %>
                <% if (theme.website_count.busuanzi_count.site_pv) { %>
                    <span id="busuanzi_container_site_pv">
                        <%- __('site_pv') %>&nbsp;<span id="busuanzi_value_site_pv"></span>
                    </span>
                <% } %>
            </div>
        <% } %>
        <div class="theme-info info-item">
           
        </div>
        <% if (theme.footer.hasOwnProperty('icp') && theme.footer.icp) { %>
            <div class="icp-info info-item"><a target="_blank" rel="nofollow" href="https://beian.miit.gov.cn"><%= theme.footer.icp %></a></div>
        <% } %>
        <% if (theme.footer.hasOwnProperty('upyun') && theme.footer.upyun) { %>
            <div class="icp-info info-item"><a target="_blank" rel="nofollow" href="<%= theme.footer.upyun %>">本网站由
                <img src="/images/upyun.png" alt="upyun" srcset="" height="24" style="position:relative; top:6px">
                提供CDN加速/云存储服务</a></div>
        <% } %>
    </div>
</footer>
