<!DOCTYPE html>
<html lang="<%= config.language %>">
<%- partial('_partial/head') %>
<body>
    <script src="/js/libs/instantclick.js" type="module"></script>
<%- body %>
<%- partial('_partial/scripts') %>
</body>
</html>
