<% if(
        theme.comment.use === 'valine'
        && theme.comment.valine.appid
        && theme.comment.valine.appkey
) { %>
    <div class="valine-container">
        <script <%= theme.pjax.enable === true ? 'data-pjax' : '' %>
                src="/js/libs/Valine.min.js"></script>
        <div id="vcomments"></div>
        <script <%= theme.pjax.enable === true ? 'data-pjax' : '' %>>
            function loadValine() {
                new Valine({
                    el: '#vcomments',
                    appId: '<%= theme.comment.valine.appid %>',
                    appKey: '<%= theme.comment.valine.appkey %>',
                    meta: ['nick', 'mail'],
                    avatar: 'mp',
                    enableQQ: false,
                    placeholder: '<%= theme.comment.valine.placeholder %>',
                    pageSize: '5',  // 评论列表分页，默认为10                    
                    highlight: true,  // 代码高亮
                    visitor: true,  // 文章访问量统计
                    // recordIP: false,
                    // requiredFields: ['nick','mail'],
                    lang: 'zh-CN'                    
                });               


                function getAuthor(language) {
                    switch (language) {
                        case 'zh-Hans':
                            return 'Author';
                        case 'zh-Hans':
                            return '博主';
                        default:
                            return 'retro';
                    }
                }

                function loadValine() {
                    var s = document.createElement('script');
                    s.setAttribute('src', '/js/libs/Valine.min.js');
                    s.async = false;
                    document.body.appendChild(s);
                    s.onload = () => {
                        var valine = new Valine();
                        valine.init({
                            el: '#valine_container',
                            appId: '<APP_ID>',
                            appKey: '<APP_KEY>',
                        });
                    }
                }

                var runningOnBrowser = typeof window !== "undefined";
                var isBot = runningOnBrowser && !("onscroll" in window) || typeof navigator !== "undefined" && /(gle|ing|ro|msn)bot|crawl|spider|yand|duckgo/i.test(navigator.userAgent);
                var supportsIntersectionObserver = runningOnBrowser && "IntersectionObserver" in window;

                setTimeout(function () {
                    if (!isBot && supportsIntersectionObserver) {
                        var io = new IntersectionObserver(function(entries) {
                            if (entries[0].isIntersecting) {
                                loadValine();
                                io.disconnect();
                            }
                        });
                        io.observe(document.getElementById('{ your Valine container ID }'));
                    } else {
                        loadValine();
                    }
                }, 1);

                // Add "Author" identify
                const getValineDomTimer = setInterval(() => {
                    const vcards = document.querySelectorAll('#vcomments .vcards .vcard');
                    if (vcards.length > 0) {
                        let author = '<%= theme.base_info.author || config.author %>';

                        if (author) {
                            for (let vcard of vcards) {
                                const vnick_dom = vcard.querySelector('.vhead .vnick');
                                const vnick = vnick_dom.innerHTML;
                                if (vnick === author) {
                                    vnick_dom.innerHTML = `${vnick} <span class="author">${getAuthor(KEEP.hexo_config.language)}</span>`
                                }
                            }
                        }
                        clearInterval(getValineDomTimer);
                    } else {
                        clearInterval(getValineDomTimer);
                    }
                }, 2000);
            }

            if ('<%= theme.pjax.enable %>') {
                const loadValineTimeout = setTimeout(() => {
                    loadValine();
                    clearTimeout(loadValineTimeout);
                }, 1000);
            } else {
                window.addEventListener('DOMContentLoaded', loadValine);
            }
        </script>
    </div>
<% } %>
